body{
    font-family: 'Poppins', sans-serif;
}
.header-area{
    background-color: #F0FFF0;
}
.container-fluid{
    background-color: #F0FFF0; 
}


.para-part{
    background: #F0FFF0;
    background-image: url("images/Photos/Illustration.png");
    background-size: 554px 346px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: right;
    height: 500px;
    width: auto;
    border-radius: 0px;
    

}

.logo-img{
    height: 60px;
    width: 200px;
}
.menu-bar{
    justify-content: right;
}
.para-part{
    padding-top: 100px;
}
.color-p{
    color: red;
}
.color-font{
    color: green;
}
.col{
    height: 270px;
    width: 270px;
    padding-top: 30px;
    margin-left: 60px;

    
}
.card-img-top{
    height: 83px;
    width: 80px;
    margin-left: 75px;

    
}
.card{
    border: none;
    background-color: #F0FFF0;

}
.card-student{
    background-color: white;
    box-shadow: 5px 10px 5px 5px lightgray;
    border-radius: 10px;
}
.h-100{
    padding-top: 30px;
}
.card-body{
    text-align: center;
}
/*Online course area*/
.oc-headline{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.oc-box{
    height: 460px;
    width: 340px;
    float: left;
    margin-right: 30px;
    box-shadow: 5px 10px 10px 5px lightgray;
    border-radius: 20px;
    
}
.doc{
    padding-left: 20px;
}
.oc-image{
    height: 234px;
    width: 331px;
    padding: 20px;
}
.oc-box-heading{
    padding-top: 20px;
}
.btn{
    border-radius: 30px;
}